---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@components/landing/Hero.astro";
import Projects from "@components/landing/Projects.astro";
import Testimonials from "@components/landing/Testimonials.astro";
import Articles from "@components/landing/Articles.astro";
import FeaturedWork from "@components/landing/FeaturedWork.astro";
import TopArea from "@components/general/TopArea.astro";
import FrontSection from "@components/technical/FrontSection.astro";
import ThinLine from "@/components/snippets/ThinLine.astro";
import ThickLine from "@/components/snippets/ThickLine.astro";
import WelcomeBanner from "@/components/banners/WelcomeBanner.astro";

import { getLangFromUrl, useTranslations } from '@/i18n/utils';
const lang = getLangFromUrl(Astro.url);

import { getCollection, getEntry, render } from 'astro:content';

export function getStaticPaths () {
 return [
    {params:{lang: 'de'}},
  ];
}

const entryIntro = lang+'/introtext01';
const introContent = await getEntry('bigBits', entryIntro);
const entryVerein = lang+'/verein';
const vereinContent = await getEntry('bigBits', entryVerein);
const entrySpenden = lang+'/spenden';
const spendenContent = await getEntry('bigBits', entrySpenden);
/*const introContentColl = await getCollection('bigBits');

const introContent = introContentColl.filter(item => {
    const returnThis = item.id == entry;
    ////console.log("entry: '"+entry+"'     item.id: '"+item.id+"'     returnThis: "+returnThis);
    return returnThis;
  }
);*/

/*////console.log("introContentColl");
////console.log(introContentColl);*/
////console.log("introContent");
////console.log(introContent);

const { Content: Intro } = await render(introContent);
const { Content: Verein } = await render(vereinContent);
const { Content: Spenden } = await render(spendenContent);

---

<BaseLayout title="Verein Gürbetalbahn 742" excerpt="Der Verein Gürbetalbahn 742 hat zum Ziel den Erhalt des letzten vorhandenen ABDe 4/8 der BLS-Gruppe."  lang={lang}>
  <TopArea />
  <WelcomeBanner />
  <div class="h-6"></div>
  <FrontSection collection="now" sortBy="date_published" howMany="4" component="ArticlesNude2C" showDate="false" sectionTitle="true">
  </FrontSection>
  <div class="h-6"></div>
  <div class="mx-auto px-spaceFromEdge 2xl:max-w-7xl">
    <Verein />
  </div>
  <div class="h-12"></div>
  <div class="mx-auto px-spaceFromEdge 2xl:max-w-7xl">
    <Spenden />
  </div>
  <div class="h-24"></div>
    <!--fljsalkfjsdaflsadjfs fasd fasdf asdfsadfasd fasdf adsf dsf df asdf asdf asdfsadfsfljsalkfjsdaflsadjfs fasd fasdf asdfsadfasd fasdf adsf dsf df asdf asdf asdfsadfsfljsalkfjsdaflsadjfs fasd fasdf asdfsadfasd fasdf adsf dsf df asdf asdf asdfsadfsfljsalkfjsdaflsadjfs fasd fasdf asdfsadfasd fasdf adsf dsf df asdf asdf asdfsadfsfljsalkfjsdaflsadjfs fasd fasdf asdfsadfasd fasdf adsf dsf df asdf asdf asdfsadfsfljsalkfjsdaflsadjfs fasd fasdf asdfsadfasd fasdf adsf dsf df asdf asdf asdfsadfs
  <ThinLine />-->
  </FrontSection>

</BaseLayout>