---
const { left, right } = Astro.props;
---
{ 
<div class="my-4 space-y-1 italic">
	<div
		class="h-0.5 bg-secondary"
		data-aos="fade-up"
		data-aos-duration="1000"
		>
	</div>
	<div class="flex flex-row space-between">
		<span class="grow">{left}</span><span></span>
		<span>{right}</span>
	</div>
	<div 
		class="h-0 bg-secondary"
		>
	</div>
</div>
}