---

import SectionTitle from "@components/snippets/SectionTitle.astro";
import arrow from "@assets/for_site/arrowRight.svg"
const { thin, thick, page, putAnchor } = Astro.props;

var partAnchor = "";
if(putAnchor){
	partAnchor += "#"+putAnchor;
}

var pageLinks = "";

//////////////console.log("urls");
//////////////console.log(page);

if(page.lastPage != 1){
	var baseUrl = page.url.first;
	////////////////console.log("baseUrlA: "+baseUrl+"   urlFirst: "+page.url.first+"   urlCurr: "+page.url.current);
	if(!baseUrl){
		baseUrl = page.url.current;
	}
	baseUrl += "/";

	//////////////console.log("baseUrlB: "+baseUrl+"   urlFirst: "+page.url.first+"   urlCurr: "+page.url.current);

	pageLinks += "<span class='flex flex-row items-center'>";
	pageLinks += "<a ";
	if(page.url.prev){
		//////////////console.log("there is previous");
		pageLinks += "href='"+page.url.prev+partAnchor+"'";
	}
	pageLinks += " class='aspect-square w-3 h-3 border-t-2 border-l-2 border-secondary -rotate-45'>";
	//pageLinks += "<span class=''></span>";
	pageLinks += "</a>";

	for(let i = 0; i < page.lastPage; i++){
		//////////////console.log("page: "+(i+1));
		var classes = "px-1"
		if(i+1 == page.currentPage){
			classes += " underline"
		}
		if(i+1 == 1){
			pageLinks += " <a class='"+classes+"' href='"+baseUrl+partAnchor+"'>"+(i+1)+"</a> ";
		}else{
			pageLinks += " <a class='"+classes+"' href='"+baseUrl+(i+1)+partAnchor+"'>"+(i+1)+"</a> ";
		}
	}


	pageLinks += "<a ";
	if(page.url.next){
		//////////////console.log("there is next");
		pageLinks += "href='"+page.url.next+partAnchor+"'";
	}
	pageLinks += " class='aspect-square w-3 h-3 border-b-2 border-r-2 border-secondary -rotate-45'>";
	//pageLinks += "<span class=''></span>";
	pageLinks += "</a>";

	pageLinks += "";
	pageLinks += "</span>";
}

---
<div class="px-8 2xl:max-w-7xl mx-auto py-3">
	<SectionTitle thin={thin} thick={thick} putAnchor={putAnchor} pageLinks={pageLinks} />
</div>